<ion-card>
  <form (ngSubmit)="onSave(cardForm.value)" #ygoForm="ngForm" novalidate>
    <p>Is "myForm" valid? {{cardForm.valid}}</p>
    <table border='1'>
      <tr>
        <td>name</td>
        <td>
          <input name="id" type="hidden" [(ngModel)]="id" />
          <input name="Name" type="text" required [(ngModel)]="Name" />

        </td>
      </tr>

      <tr>
        <td>Icon</td>
        <td> <input name="Icon" required type="text" [(ngModel)]="Icon" /></td>
      </tr>

      <tr>
        <td>Detail</td>
        <td> <input name="Detail" required type="text" [(ngModel)]="Detail" /></td>
      </tr>

      <tr>
        <td>Rarity</td>
        <td> <input name="Rarity" required type="text" [(ngModel)]="Rarity" /></td>
      </tr>

      <tr>
        <td>Edition</td>
        <td> <input name="Edition" required type="text" [(ngModel)]="Edition" /></td>
      </tr>

      <tr>
        <td>Pack</td>
        <td> <input name="Pack" required type="text" [(ngModel)]="Pack" /></td>
      </tr>

      <tr>
        <td>Owned</td>
        <td> <input name="Owned" required type="number" [(ngModel)]="Owned" /></td>
      </tr>

      <tr>
        <td>OPrice</td>
        <td> <input name="OPrice" required type="number" [(ngModel)]="OPrice" /></td>
      </tr>

      <tr>
        <td>PPrice</td>
        <td> <input name="PPrice" required type="number" [(ngModel)]="PPrice" /></td>
      </tr>

      <tr>
        <td>CPrice</td>
        <td> <input name="CPrice" required type="number" [(ngModel)]="CPrice" /></td>
      </tr>

      <tr>
        <td>Projection</td>
        <td> <input name="Projection" required type="number" [(ngModel)]="Projection" /></td>
      </tr>

      <tr>
        <td>URL</td>
        <td> <input name="URL" required type="text" [(ngModel)]="URL" /></td>
      </tr>

      <tr>
        <td>Change</td>
        <td> <input name="Change" required type="number" [(ngModel)]="Change" /></td>
      </tr>

      <tr>
        <td>Location</td>
        <td> <input name="Location" required type="text" [(ngModel)]="Location" /></td>
      </tr>

      <tr>
        <td colspan="2">
          <input type="submit" value="{{valbutton}}" />
        </td>
      </tr>
    </table>
  </form>



  <!-- <div class="form-group">
        <label for="name">Name</label>
        <ion-input type="text" [(ngModel)]="YgoCard.name" class="form-control" id="name" name="name"
          placeholder="Enter the card's name" required #name="ngModel"></ion-input>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="icon">Icon</label>
        <ion-input type="text" [(ngModel)]="YgoCard.icon" class="form-control" id="icon" name="icon"
          placeholder="Enter the card's icon url" required #icon="ngModel"></ion-input>
        <div [hidden]="!icon.pristine" class="alert alert-danger">Icon url is required</div>
      </div>
      <div class="form-group">
        <label for="rarity">Rarity</label>
        <ion-input type="text" [(ngModel)]="YgoCard.rarity" class="form-control" id="rarity" name="rarity"
          placeholder="Enter the card's rarity" required #rarity="ngModel"></ion-input>
        <div [hidden]="!rarity.pristine" class="alert alert-danger">Rarity is required</div>
      </div>
      <div class="form-group">
        <label for="edition">Edition</label>
        <ion-input type="text" [(ngModel)]="YgoCard.edition" class="form-control" id="edition" name="edition"
          placeholder="Enter the card's edition" required #edition="ngModel"></ion-input>
        <div [hidden]="!edition.pristine" class="alert alert-danger">Edition is required</div>
      </div>
      <div class="form-group">
        <label for="pack">Pack</label>
        <ion-input type="text" [(ngModel)]="YgoCard.pack" class="form-control" id="pack" name="pack"
          placeholder="Enter the pack that the card came from" required #pack="ngModel"></ion-input>
        <div [hidden]="!pack.pristine" class="alert alert-danger">Pack is required</div>
      </div>
      <div class="form-group">
        <label for="owned">Owned</label>
        <ion-input type="number" [(ngModel)]="YgoCard.owned" class="form-control" id="owned" name="owned"
          placeholder="Enter how many copies you own" required #owned="ngModel"></ion-input>
        <div [hidden]="!owned.pristine" class="alert alert-danger">Owned is required</div>
      </div>
      <div class="form-group">
        <label for="oPrice">oPrice</label>
        <ion-input type="number" [(ngModel)]="YgoCard.oPrice" class="form-control" id="oPrice" name="oPrice"
          placeholder="Enter the card's original price" required #oPrice="ngModel"></ion-input>
        <div [hidden]="!oPrice.pristine" class="alert alert-danger">oPrice is required</div>
      </div>
      <div class="form-group">
        <label for="pPrice">pPrice</label>
        <ion-input type="number" [(ngModel)]="YgoCard.pPrice" class="form-control" id="pPrice" name="pPrice"
          placeholder="Enter the card's previous price" required #pPrice="ngModel"></ion-input>
        <div [hidden]="!pPrice.pristine" class="alert alert-danger">pPrice is required</div>
      </div>
      <div class="form-group">
        <label for="cPrice">cPrice</label>
        <ion-input type="number" [(ngModel)]="YgoCard.cPrice" class="form-control" id="cPrice" name="cPrice"
          placeholder="Enter the card's current price" required #cPrice="ngModel"></ion-input>
        <div [hidden]="!cPrice.pristine" class="alert alert-danger">cPrice is required</div>
      </div>
      <div class="form-group">
        <label for="projection">projection</label>
        <ion-input type="number" [(ngModel)]="YgoCard.projection" class="form-control" id="projection" name="projection"
          placeholder="Enter the card's projected profit" required #projection="ngModel"></ion-input>
        <div [hidden]="!projection.pristine" class="alert alert-danger">Projection is required</div>
      </div>
      <div class="form-group">
        <label for="url">URL</label>
        <ion-input type="text" [(ngModel)]="YgoCard.url" class="form-control" id="url" name="url"
          placeholder="Enter the card's TCG URL" required #url="ngModel"></ion-input>
        <div [hidden]="!url.pristine" class="alert alert-danger">URL is required</div>
      </div>
      <div class="form-group">
        <label for="change">Change</label>
        <ion-input type="number" [(ngModel)]="YgoCard.change" class="form-control" id="change" name="change"
          placeholder="Enter the card's change amount" required #change="ngModel"></ion-input>
        <div [hidden]="!change.pristine" class="alert alert-danger">Change is required</div>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <ion-input type="text" [(ngModel)]="YgoCard.location" class="form-control" id="location" name="location"
          placeholder="Enter the card's location (trunk/bait/binder)" required #location="ngModel"></ion-input>
        <div [hidden]="!location.pristine" class="alert alert-danger">Location is required</div>
      </div>

      <button type="submit" [disabled]="!ygoForm.form.valid" class="btn btn-info">Submit</button>
    </form> -->
</ion-card>