<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- ============================================================================================ -->

<ion-content>
  <ion-card class="yugioh-card" style="text-align: center">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Yu-Gi-Oh%21_%28Logo%29.jpg/800px-Yu-Gi-Oh%21_%28Logo%29.jpg"
      alt="" />
    <ion-card-header>
      <ion-card-subtitle>Welcome to</ion-card-subtitle>
      <ion-card-title>TiKi-Binder</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Options:</p>
      <ion-button (click)='fullUpdate()'>Update Prices</ion-button>
      <a routerLink="/ygo-card-form" class="btn btn-info">Add New Card</a>

      <p>Sort by:</p>
      <ion-button (click)='nameSortAsc()'>Name Asc</ion-button>
      <ion-button (click)='nameSortDesc()'>Name Desc</ion-button>
      <ion-button (click)='priceSortAsc()'>Current Price Asc</ion-button>
      <ion-button (click)='priceSortDesc()'>Current Price Desc</ion-button>
      <ion-button (click)='changeSortAsc()'>% Change Asc</ion-button>
      <ion-button (click)='changeSortDesc()'>% Change Desc</ion-button>

    </ion-card-content>

  </ion-card>

  <ion-searchbar 
  id="searchId" 
  (ionChange)="setFilteredItems()" 
  placeholder="Search for a card" 
  animated=true
  autocomplete="on"
  [(ngModel)]="searchTerm"></ion-searchbar>

  <ion-content style="max-width:95%; overflow:visible;">

      <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div>

    <ion-item *ngFor="let detail of Repdata; let i = index">


      <ion-list id="masterList">
        <ion-item-sliding>
          <h2>{{detail.Name}}</h2>
          <ion-item>
            <a href="https://shop.tcgplayer.com/yugioh/{{detail.URL}}"><img width=100px
                src="{{detail.Icon}}"></a>

            <div class="listItems">
              <table id="binderList" class="sortable" border="1"
                style="text-align:center; position: relative; padding: 3px; border-color: gray; border-inline-color: gray;">
                <thead>
                  <tr class="header" style="background-color: gray">
                    <th scope="col" style="padding: 5px">ID</th>
                    <th scope="col" style="padding: 5px">Rarity</th>
                    <th scope="col" style="padding: 5px">Edition</th>
                    <th scope="col" style="padding: 5px">Pack</th>
                    <th scope="col" style="padding: 5px">Owned</th>
                    <th scope="col" style="padding: 5px">Original Price</th>
                    <th scope="col" style="padding: 5px">Previous Price</th>
                    <th scope="col" style="padding: 5px">Current Price</th>
                    <th scope="col" style="padding: 5px">Projection</th>
                    <th scope="col" style="padding: 5px">Change</th>
                    <th scope="col" style="padding: 5px">Location</th>
                    <th scope="col" style="padding: 5px">Edit</th>
                    <th scope="col" style="padding: 5px">Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="padding: 5px">{{i + 1}}</td>
                    <td style="padding: 5px">{{detail.Rarity}}</td>
                    <td style="padding: 5px">{{detail.Edition}}</td>
                    <td style="padding: 5px">{{detail.Pack}}</td>
                    <td style="padding: 5px">{{detail.Owned}}</td>
                    <td style="padding: 5px">{{detail.OPrice | currency}}</td>
                    <td style="padding: 5px">{{detail.PPrice | currency}}</td>
                    <td style="padding: 5px">{{detail.CPrice | currency}}</td>
                    <td style="padding: 5px">{{detail.Projection | currency}}</td>
                    <td style="padding: 5px">{{detail.Change | percent}}</td>
                    <td style="padding: 5px">{{detail.Location}}</td>
                    <td style="padding: 5px"><a (click)="edit(detail)" style="color:blueviolet">Edit</a></td>  
                    <td style="padding: 5px"><a (click)="delete(detail._id)" style="color:blueviolet">Delete</a>  </td>  
                  </tr>
                </tbody>
              </table>
            </div>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread(item)">Edit</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-item>

    <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  </ion-content>