<ion-header>
    <ion-title>
      <h1>Fitts' Law Test</h1>
    </ion-title>
</ion-header>
<!-- ================================================================================================= -->

<ion-content>
  <ion-card class="welcome-card" style="text-align: center">
    <img
      src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/white-boxes-abstract-3d-render-loopable-animation_s2e0cmuk__F0000.png"
      alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to the Fitts' Law Test</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Non-disclosure contents here</p>
    </ion-card-content>
    <button class="button button-outline button-large button-positive">
      Disagree
    </button>
    <div class="divider"></div>
    <button class="button button-outline button-large button-assertive">
      Agree
    </button>
  </ion-card>


  